{% extends "template.html" %}
{% block title %}Supported Styles{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-3 col-sm-4 col-xs-6 styles-gallery">
      <div class="card">
        <img class="img-responsive" src="/static/uploads/abstract.jpg" />
        <div class="card-header">Abstract</div>
      </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-6">
      <div class="card styles-gallery">
        <img class="img-responsive" src="/static/uploads/expr.jpg" />
        <div class="card-header">Expressionism</div>
      </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-6">
      <div class="card styles-gallery">
        <img class="img-responsive" src="/static/uploads/cubist.jpg" />
        <div class="card-header">Cubism</div>
      </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-6">
      <div class="card styles-gallery">
        <img class="img-responsive" src="/static/uploads/fauvism.jpg" />
        <div class="card-header">Fauvism</div>
      </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-6">
      <div class="card styles-gallery">
        <img class="img-responsive" src="/static/uploads/minaiture.jpg" />
        <div class="card-header">Miniature</div>
      </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-6">
      <div class="card styles-gallery">
        <img class="img-responsive" src="/static/uploads/neo-exp.jpg" />
        <div class="card-header">Neo-Expressionism</div>
      </div>
    </div>

  </div>
</div>
{% endblock %}
