{% extends "template.html" %}
{% block title %}Supported Styles{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-3 col-sm-4 col-xs-6 styles-gallery">
      <div class="card">
        <a href="style-info?q=renaissance">
          <img class="img-responsive" src="/static/art-styles/renaissance.jpg" />
        </a>
        <div class="card-header">Renaissance</div>
      </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-6">
      <div class="card styles-gallery">
        <a href="style-info?q=realism">
          <img class="img-responsive" src="/static/art-styles/realism.jpg" />
        </a>
        <div class="card-header">Realism</div>
      </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-6">
      <div class="card styles-gallery">
        <a href="style-info?q=impressionism">
          <img class="img-responsive" src="/static/art-styles/impressionism.jpg" />
        </a>
        <div class="card-header">Impressionism</div>
      </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-6">
      <div class="card styles-gallery">
        <a href="style-info?q=fauvism">
          <img class="img-responsive" src="/static/art-styles/fauvism.jpg" />
        </a>
        <div class="card-header">Fauvism</div>
      </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-6">
      <div class="card styles-gallery">
        <a href="style-info?q=cubism">
          <img class="img-responsive" src="/static/art-styles/cubism.jpg" />
      </a>
        <div class="card-header">Cubism</div>
      </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-6">
      <div class="card styles-gallery">
        <a href="style-info?q=surrealism">
          <img class="img-responsive" src="/static/art-styles/surrealism.jpg" />
        </a>
        <div class="card-header">Surrealism</div>
      </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-6">
      <div class="card styles-gallery">
        <a href="style-info?q=expressionism">
          <img class="img-responsive" src="/static/art-styles/expressionism.jpg" />
        </a>
        <div class="card-header">Expressionism</div>
      </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-6">
      <div class="card styles-gallery">
        <a href="style-info?q=abstract">
          <img class="img-responsive" src="/static/art-styles/abstract.jpg" />
        </a>
        <div class="card-header">Abstract</div>
      </div>
    </div>
     <div class="col-md-3 col-sm-4 col-xs-6">
      <div class="card styles-gallery">
        <a href="style-info?q=de_stijl">
          <img class="img-responsive" src="/static/art-styles/de_stijl.jpg" />
        </a>
        <div class="card-header">De stijl</div>
      </div>
    </div>
     <div class="col-md-3 col-sm-4 col-xs-6">
      <div class="card styles-gallery">
        <a href="style-info?q=minimalism">
          <img class="img-responsive" src="/static/art-styles/minimalism.jpg" />
        </a>
        <div class="card-header">Minimalism</div>
      </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-6">
      <div class="card styles-gallery">
        <a href="style-info?q=pop_art">
          <img class="img-responsive" src="/static/art-styles/pop_art.jpg" />
        </a>
        <div class="card-header">Pop art</div>
      </div>
    </div>


  </div>
</div>
{% endblock %}
